In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Extract CSVs into DataFrames
covid_file = "inpatient_covid.csv"
covid_df = pd.read_csv(covid_file)
covid_df.head()

,state,collection_date,Inpatient Beds Occupied by COVID-19 Patients Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied by COVID-19 Patients Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
0,CW,2020-08-20,"51,374","51,028","51,720",6.92,6.56,7.29,"708,074","705,402","710,746"
1,CW,2020-08-21,"50,250","49,889","50,611",6.77,6.35,7.20,"708,769","705,191","712,347"
2,CW,2020-08-22,"48,325","48,042","48,607",6.53,6.20,6.85,"706,157","703,059","709,255"
3,CW,2020-08-23,"47,924","47,543","48,306",6.49,6.06,6.93,"704,251","701,096","707,406"
4,CW,2020-08-24,"48,416","48,065","48,767",6.51,6.10,6.92,"710,090","707,303","712,877"

In [3]:
drop_col = covid_df.drop(columns={'Count LL', 'Count UL','Percentage LL', 'Percentage UL', 'Total LL', 'Total UL'})
drop_col

,state,collection_date,Inpatient Beds Occupied by COVID-19 Patients Estimated,Percentage of Inpatient Beds Occupied by COVID-19 Patients Estimated,Total Inpatient Beds
0,CW,2020-08-20,"51,374",6.92,"708,074"
1,CW,2020-08-21,"50,250",6.77,"708,769"
2,CW,2020-08-22,"48,325",6.53,"706,157"
3,CW,2020-08-23,"47,924",6.49,"704,251"
4,CW,2020-08-24,"48,416",6.51,"710,090"
...,...,...,...,...,...
1691,WY,2020-09-18,32,2.12,"1,511"
1692,WV,2020-09-19,216,4.03,"5,364"
1693,WY,2020-09-19,34,2.22,"1,511"
1694,WV,2020-09-20,216,4.05,"5,328"
1695,WY,2020-09-20,35,2.32,"1,511"

In [10]:
# Transform DataFrame

# Filter DataFrame from specific columns
rename_cols = drop_col.rename(columns={"Inpatient Beds Occupied by COVID-19 Patients Estimated":"INPT Bed Estimate",
                                      "Percentage of Inpatient Beds Occupied by COVID-19 Patients Estimated":"PCT INPT Bed Estimate"})
rename_cols

,state,collection_date,INPT Bed Estimate,PCT INPT Bed Estimate,Total Inpatient Beds
0,CW,2020-08-20,"51,374",6.92,"708,074"
1,CW,2020-08-21,"50,250",6.77,"708,769"
2,CW,2020-08-22,"48,325",6.53,"706,157"
3,CW,2020-08-23,"47,924",6.49,"704,251"
4,CW,2020-08-24,"48,416",6.51,"710,090"
...,...,...,...,...,...
1691,WY,2020-09-18,32,2.12,"1,511"
1692,WV,2020-09-19,216,4.03,"5,364"
1693,WY,2020-09-19,34,2.22,"1,511"
1694,WV,2020-09-20,216,4.05,"5,328"
1695,WY,2020-09-20,35,2.32,"1,511"

In [46]:
fifty_states = rename_cols[(rename_cols.state != 'CW' ) & (rename_cols.state != 'PR') & (rename_cols.state != 'DC')]
fifty_states

,state,collection_date,INPT Bed Estimate,PCT INPT Bed Estimate,Total Inpatient Beds
64,AL,2020-08-20,"1,368",9.69,"14,128"
65,AR,2020-08-20,695,9.24,"7,521"
66,CT,2020-08-20,169,2.09,"8,080"
67,ID,2020-08-20,168,4.77,"3,520"
68,IN,2020-08-20,861,5.22,"16,137"
...,...,...,...,...,...
1691,WY,2020-09-18,32,2.12,"1,511"
1692,WV,2020-09-19,216,4.03,"5,364"
1693,WY,2020-09-19,34,2.22,"1,511"
1694,WV,2020-09-20,216,4.05,"5,328"
1695,WY,2020-09-20,35,2.32,"1,511"

In [47]:
test = fifty_states.groupby(['state'], sort=True).agg({"collection_date":"max"}).reset_index()
test

   state collection_date
0     AK      2020-09-20
1     AL      2020-09-20
2     AR      2020-09-20
3     AZ      2020-09-20
4     CA      2020-09-20
5     CO      2020-09-20
6     CT      2020-09-20
7     DE      2020-09-20
8     FL      2020-09-20
9     GA      2020-09-20
10    HI      2020-09-20
11    IA      2020-09-20
12    ID      2020-09-20
13    IL      2020-09-20
14    IN      2020-09-20
15    KS      2020-09-20
16    KY      2020-09-20
17    LA      2020-09-20
18    MA      2020-09-20
19    MD      2020-09-20
20    ME      2020-09-20
21    MI      2020-09-20
22    MN      2020-09-20
23    MO      2020-09-20
24    MS      2020-09-20
25    MT      2020-09-20
26    NC      2020-09-20
27    ND      2020-09-20
28    NE      2020-09-20
29    NH      2020-09-20
30    NJ      2020-09-20
31    NM      2020-09-20
32    NV      2020-09-20
33    NY      2020-09-20
34    OH      2020-09-20
35    OK      2020-09-20
36    OR      2020-09-20
37    PA      2020-09-20
38    RI      2020-09-20
39    SC      2020-09-20
40    SD      2020-09-20
41    TN      2020-09-20
42    TX      2020-09-20
43    UT      2020-09-20
44    VA      2020-09-20
45    VT      2020-09-20
46    WA      2020-09-20
47    WI      2020-09-20
48    WV      2020-09-20
49    WY      2020-09-20

In [48]:
test.merge(fifty_states, on=['state', 'collection_date'])

,state,collection_date,INPT Bed Estimate,PCT INPT Bed Estimate,Total Inpatient Beds
0,AK,2020-09-20,58,3.76,"1,063"
1,AL,2020-09-20,920,6.52,"14,118"
2,AR,2020-09-20,445,5.71,"7,718"
3,AZ,2020-09-20,488,4.06,"10,898"
4,CA,2020-09-20,"3,459",5.73,"60,380"
5,CO,2020-09-20,263,2.71,"9,714"
6,CT,2020-09-20,168,2.08,"8,095"
7,DE,2020-09-20,87,4.05,"2,147"
8,FL,2020-09-20,"2,746",3.67,"74,849"
9,GA,2020-09-20,"2,101",11.70,"16,757"
10,HI,2020-09-20,203,9.15,"1,759"
11,IA,2020-09-20,318,3.96,"8,039"
12,ID,2020-09-20,138,3.84,"3,595"
13,IL,2020-09-20,"1,702",5.76,"28,367"
14,IN,2020-09-20,767,4.75,"16,162"
15,KS,2020-09-20,288,3.53,"7,023"
16,KY,2020-09-20,486,4.01,"12,134"
17,LA,2020-09-20,595,4.33,"13,121"
18,MA,2020-09-20,300,1.83,"16,413"
19,MD,2020-09-20,676,6.72,"10,065"
20,ME,2020-09-20,36,1.28,"2,810"
21,MI,2020-09-20,518,2.28,"22,688"
22,MN,2020-09-20,368,3.40,"10,837"
23,MO,2020-09-20,940,4.83,"17,169"
24,MS,2020-09-20,908,13.19,"6,882"
25,MT,2020-09-20,110,4.89,"2,169"
26,NC,2020-09-20,"1,068",5.49,"20,763"
27,ND,2020-09-20,134,5.90,"2,273"
28,NE,2020-09-20,219,3.95,"5,546"
29,NH,2020-09-20,36,1.23,"2,920"
30,NJ,2020-09-20,614,3.25,"19,019"
31,NM,2020-09-20,101,3.17,"3,186"
32,NV,2020-09-20,474,6.48,"7,314"
33,NY,2020-09-20,"1,434",2.75,"44,848"
34,OH,2020-09-20,996,3.57,"27,933"
35,OK,2020-09-20,613,6.28,"8,788"
36,OR,2020-09-20,189,3.05,"6,163"
37,PA,2020-09-20,805,2.59,"25,819"
38,RI,2020-09-20,78,4.09,"1,907"
39,SC,2020-09-20,735,8.16,"9,004"
40,SD,2020-09-20,145,7.31,"1,984"
41,TN,2020-09-20,869,5.29,"15,906"
42,TX,2020-09-20,"4,216",6.88,"61,308"
43,UT,2020-09-20,160,3.26,"4,904"
44,VA,2020-09-20,"1,031",5.97,"15,669"
45,VT,2020-09-20,2,0.17,"1,182"
46,WA,2020-09-20,390,3.18,"9,405"
47,WI,2020-09-20,574,4.73,"12,065"
48,WV,2020-09-20,216,4.05,"5,328"
49,WY,2020-09-20,35,2.32,"1,511"